@import url('https://fonts.googleapis.com/css?family=Encode Sans');
a:hover {
  color: white;
}

img.mainlogo {
  margin-bottom: 50px;
  height: 40%;
  width: 100%;
}

div.title-container {
  height: 700px;
  background-color: #2D2D2D;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#carouselSliding.carousel.slide {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

#carouselSliding {
  height: max-content;
  object-fit: cover;
  z-index: 3;
}

div.section-container{
  border-radius: 25px;
  border: solid #2cbb5b;
  background-color: #2cbb5b;
  padding-bottom: 30px;
  padding: 50px;
  margin-left: calc(20vw);
  margin-right: calc(20vw);
  margin-bottom: 25px;
}

h1.section-heading {
  font-family: 'Encode Sans';
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

p.section-body {
  font-family: 'Encode Sans';
  color: white;
  font-size: 21.2px;
  font-weight: 400;
}

div.card-header {
  background-color: #e9e9e9;
  
}

div.card {
  background-color: #2cbb5b;
}

div.card-body {
  font-family: 'Encode Sans';
  font-size: 18px;
  border-color: #2cbb5b;
  color: white;
  font-weight: 550;
  margin-top: -20px;
}

div.sponsors {
  position: relative;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #2D2D2D;
  z-index: 2;
}

div.section-container#who-we-are{
  margin-top: -100px;
  position: relative;
  z-index: 2;

}

div.section-container#questions{
  position: relative;
  z-index: 3;

}

div.sponsors-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

img.mediumLogo{
  height: 350px; 
  margin: 20px; 
}

img.smallLogo{
  width: 260px; 
  margin: 20px; 
} 

@media (max-width: 1000px) {
  div.section-container#who-we-are{
    margin-top: -30px;
  }
  img.mainlogo {
    height: 70%;
  }
  div.title-container {
    height: 250px;
  }
  h1.section-heading {
    font-size: 40px;
  }
  p.section-body {
    font-size: 19px;
  }
  div.card-body{
    font-size: 16px;
  }
  div.section-container{
    margin-left: calc(5vw);
    margin-right: calc(5vw);
    margin-bottom: 20px;
  }
  div.sponsors {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}